=render 'header'

.center
  -if current_user.user_type != "admin"
    .quick-links.center
      %h1= t(".quick_links")
      .small-v-spacer
      .flex.small-gap.big-font
        =render "fancylinkblue", icon: "", title: t("dashboard.quick_links.recive"), link: new_transaction_path(:origin_id => Wallet.by_user(current_user).by_name(t("wallet.default.incomings")).first.id, :destination_id => Wallet.by_user(current_user).by_name(t("wallet.default.net-worth")).first.id)
        =render "fancylinkblue", icon: "", title: t("dashboard.quick_links.expense"), link: new_transaction_path(:origin_id => Wallet.by_user(current_user).by_name(t("wallet.default.net-worth")).first.id, :destination_id => Wallet.by_user(current_user).by_name(t("wallet.default.expenses")).first.id)

    .wallets
      .flex.space-between.align-center.rails-btt-center.naked-btt
        %h1.no-margin= t(".wallets")
        = button_to new_wallet_path, class: "rounded-small big-font", :method => :get do
          %span.bi.bi-plus
          =t(".new_wallet")
      .wallet-icons-holder
        - @wallets.each do |w|
          =render "wallets/icon", wallet: w, noclick: false

    =render "transactions/transactionsList", editLink: true
  -else
    =render "fancylinkblue", icon: "bi-arrow-right", link: wallets_url, title: t(".admin.link.wallets"), left_icon: true
    =render "fancylinkblue", icon: "bi-arrow-right", link: transactions_url, title: t(".admin.link.transactions"), left_icon: true
    =render "fancylinkblue", icon: "bi-arrow-right", link: users_url, title: t(".admin.link.users"), left_icon: true

