=render "header"

%div.center
  %h1= t("wallet.edit.title")

  %div{style: "margin-top: 10px"}

  = render "icon", wallet: @wallet, noclick: true

  = render 'form'

  = render "fancylinkblue", margin: true, title: t("form.cancel"), link: wallet_path(@wallet)
