=render "header"

%div.center
  - if @wallets.length == 0
    %h1= t("wallet.messages.no_wallets")
  - else
    %h1= t("dashboard.dashboard.wallets")
    =render "lineItem", header: true, editLink: true
    - @wallets.each do |w|
      =render "lineItem", wallet: w, editLink: true

  =render "linkdash"