=render "header"


%div.center
  = render 'notice'
  = render 'wallets/icon', wallet: @wallet, noclick: true
  %p
    %b Value:
    = @wallet.value

  - if not @wallet.system
    %button= t('form.delete')

  =render "linkdash"
