@import "variables";

form {
  label {
    display: block;
    margin-bottom: 0.2em;
  }
  input, textarea {
    display: block;
    padding: 0.4em;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 25vw;
    outline: none;
    border: 1px solid grey;
    background-color: white;
  }

  .darkmode input,
  .darkmode textarea {
    border: none;
  }

  textarea {
    min-height: 5em;
  }

  input:focus, textarea:focus {
    box-shadow: $blue_haze 0 0 9px 1px;
  }

  input[type=submit] {
    width: auto;
    padding: 0.6em;
    font-size: 1em;
  }
}
