form {
  label {
    display: block;
    margin-bottom: 0.2em;
  }
  input, textarea {
    display: block;
    padding: 0.4em;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
    width: 25vw;
    outline: none;
  }

  textarea {
    min-height: 5em;
  }

  input:focus, textarea {
    box-shadow: #4787fd 0 0 9px 1px;
  }

  input[type=submit] {
    width: auto;
    padding: 0.6em;
    font-size: 1em;
  }
}
