@import "generic_styles";

.center {
  display: grid;
  place-items: center;
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-content: center;
}

.flex.rails-btt-center {
  form {
    display: grid;
    place-items: center;
  }
}

.no-margin {
  margin: 0px;
}

.rounded-small {
  border-radius: 40px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.big-font {
  font-size: 20px;
}

.fancy-link {
  @include fancy-links;
}
.darkmode .fancy-link {
  @include fancy-links-darkmode;
}

.fancy-link.blue-haze,
.darkmode .fancy-link.blue-haze {
  @include fancy-links-blue-haze;
}


