@import "generic_styles";

.center {
  display: grid;
  place-items: center;
}

.fullpage {
  width: 100vw;
  height: 100vh;
}

.half-h-page {
  width: 50vw;
}
@media screen and (max-width: 700px) {
  .half-h-page {
    &.auto-adjust {
      width: 90vw;
    }
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  &.small-gap {
    gap: 10px;
  }
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-content: center;
}

.flex.rails-btt-center {
  form {
    display: grid;
    place-items: center;
  }
}

.no-margin {
  margin: 0px;
}

.rounded-small {
  border-radius: 40px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.big-font {
  font-size: 20px;
}

.line-spacing-small {
  line-height: 1.4em;
}

.inline-block {
  display: inline-block;
}

// This will limit the size of text and force it to break when it reaches the limit
// TODO change this for smaller screens
.limit-size-center {
  max-width: 60vw;
  overflow-wrap: break-word;
}

@media screen and (max-width: 700px){
  .limit-size-center {
    max-width: 80vw;
  }
}

@media screen and (max-width: 500px){
  .limit-size-center {
    max-width: 90vw;
  }
}

.fancy-link {
  @include fancy-links;
}
.darkmode .fancy-link {
  @include fancy-links-darkmode;
}

.fancy-link.blue-haze,
.darkmode .fancy-link.blue-haze {
  @include fancy-links-blue-haze;
}

.cursor-click {
  cursor: pointer;
}

