@import "variables";

@mixin fancy-links {
  a, a:visited {
    font-size: 1em;
    color: black;
    text-decoration: none;
  }
}

@mixin fancy-links-darkmode {
  a, a:visited {
    color: white;
  }
}

@mixin fancy-links-blue-haze {
  a, a:visited {
    color: $blue_haze;
  }
}

@mixin bi-btts {
  button.bi {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

@mixin naked-btt {
  button {
    border: none;
    outline: none;
    background: none;
    transition: all 0.5s;
  }

  button:hover {
    background: #706f6f;
    color: white;
  }
}

.fancy-link {
  @include fancy-links
}

.fancy-link.colored {
  @include fancy-links-blue-haze;
}

.darkmode .fancy-link {
  @include fancy-links-darkmode;
}

.darkmode .fancy-link.colored {
  @include fancy-links-blue-haze;
}

.small-spacer {
  width: 10px;
  height: 2px;
}

.naked-btt {
  @include naked-btt;
}

.naked-btt {
  button {
    color: black;
  }
}

.darkmode .naked-btt {
  button {
    color: white;
  }
}

