@import "variables";

@mixin fancy-links {
  a, a:visited {
    font-size: 1em;
    color: black;
    text-decoration: none;
  }
}

@mixin fancy-links-darkmode {
  a, a:visited {
    color: white;
  }
}

@mixin fancy-links-blue-haze {
  a, a:visited {
    color: $blue_haze;
  }
}

@mixin bi-btts {
  button.bi {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

@mixin naked-btt {
  button {
    border: none;
    outline: none;
    background: none;
    transition: all 0.5s;
  }

  button:hover {
    background: #706f6f;
    color: white;
  }
}

.fancy-link {
  @include fancy-links;
  p {
    margin: 0px;
  }
  &.margin-small {
    p {
      margin: 1em;
    }
  }
}

.fancy-link.colored {
  @include fancy-links-blue-haze;
}

.darkmode .fancy-link {
  @include fancy-links-darkmode;
}

.darkmode .fancy-link.colored {
  @include fancy-links-blue-haze;
}

.small-spacer {
  width: 10px;
  height: 2px;
}

.small-v-spacer {
  width: 1px;
  height: 10px;
}

.half-v-space {
  width: 1px;
  height: 50vh;
}

.naked-btt {
  @include naked-btt;

  button {
    color: black;
  }

  button.rounded {
    border-radius: 10px;
  }

  button.padded {
    padding: 5px;
  }

  button.big-padded {
    padding: 15px;
  }

  &.blue-haze {
    button {
      color: white;
      background-color: $blue_haze;
    }

    button:hover {
      background-color: $dark_blue_haze;
    }

  }

}

.darkmode .naked-btt {
  button {
    color: white;
  }
}

.fira-code {
  font-family: 'Fira Code', monospace;
}

full-h {
  height: 100%;
}

