@mixin fancy-links {
  a, a:visited {
    font-size: 1em;
    color: black;
    text-decoration: none;
  }
}

@mixin fancy-links-darkmode {
  a, a:visited {
    color: white;
  }
}
@mixin bi-btts {
  button.bi {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

}