// Place all the styles related to the Wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.wallet-icon {
  //Possible change
  //height: 100px;
  width: 100px;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  padding: 20px;

  p {
    font-size: 1.2em;
    color: white;
    margin: 0px;
    text-align: center;
  }

  div {
    font-size: calc(100px - 1.3em);
    text-align: center;
  }

}

.wallet-icon.default-background {
  background-color: $blue_haze;
}