-if defined? header and header
  %div.transactionLineItem{class: (defined?(editLink) and editLink) ?  "withLink" : ""}
    %span=t("form.origin")
    %span="--------->"
    %span=t("form.destination")
    %span=t("form.description")
    %span=t("form.value")
-else
  %div.transactionLineItem{class: (defined?(editLink) and editLink) ?  "withLink" : ""}
    %span=transaction.origin.name
    %span="--------->"
    %span=transaction.destination.name
    %span=transaction.description
    %span=transaction.value
    - if defined?(editLink) and editLink
      =render "fancylinkblue", left_icon: true, title: t("form.show_more"), link: transaction_url(transaction), icon: "bi-arrow-right"
