%div.center.fullpage
  %div.center
    %div.flex
      =render "wallets/icon", wallet: @origin, noclick: false

      %div.small-spacer

      %div.fira-code.center.full-h= "----------------->"

      %div.small-spacer

      =render "wallets/icon", wallet: @destination, noclick: false

    %h2= "No transaction found"
    =render "linkdash", force_dash: true
